<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBLink__common_emoji_superciliouslook_icon</key>
        <array>
            <string>baiyan0001</string>
            <string>baiyan0002</string>
            <string>baiyan0003</string>
            <string>baiyan0004</string>
            <string>baiyan0005</string>
            <string>baiyan0006</string>
            <string>baiyan0007</string>
            <string>baiyan0008</string>
            <string>baiyan0009</string>
            <string>baiyan0010</string>
            <string>baiyan0011</string>
            <string>baiyan0012</string>
            <string>baiyan0013</string>
            <string>baiyan0014</string>
            <string>baiyan0015</string>
            <string>baiyan0016</string>
            <string>baiyan0017</string>
            <string>baiyan0018</string>
            <string>baiyan0019</string>
            <string>baiyan0020</string>
            <string>baiyan0021</string>
            <string>baiyan0022</string>
            <string>baiyan0023</string>
            <string>baiyan0024</string>
            <string>baiyan0025</string>
            <string>baiyan0026</string>
            <string>baiyan0027</string>
            <string>baiyan0028</string>
            <string>baiyan0029</string>
            <string>baiyan0030</string>
            <string>baiyan0031</string>
            <string>baiyan0032</string>
            <string>baiyan0033</string>
            <string>baiyan0034</string>
            <string>baiyan0035</string>
            <string>baiyan0036</string>
            <string>baiyan0037</string>
            <string>baiyan0038</string>
            <string>baiyan0039</string>
            <string>baiyan0040</string>
            <string>baiyan0041</string>
            <string>baiyan0042</string>
            <string>baiyan0043</string>
            <string>baiyan0044</string>
            <string>baiyan0045</string>
        </array>
    <key>BBLink__common_emoji_doge_icon</key>
    <array>
        <string>doge0001</string>
        <string>doge0002</string>
        <string>doge0003</string>
        <string>doge0004</string>
        <string>doge0005</string>
        <string>doge0006</string>
        <string>doge0007</string>
        <string>doge0008</string>
        <string>doge0009</string>
        <string>doge0010</string>
        <string>doge0011</string>
        <string>doge0012</string>
        <string>doge0013</string>
        <string>doge0014</string>
        <string>doge0015</string>
        <string>doge0016</string>
        <string>doge0017</string>
        <string>doge0018</string>
        <string>doge0019</string>
        <string>doge0020</string>
    </array>
    
    <key>BBLink__common_emoji_snicker_icon</key>
    <array>
        <string>huaixiao0001</string>
        <string>huaixiao0002</string>
        <string>huaixiao0003</string>
        <string>huaixiao0004</string>
        <string>huaixiao0005</string>
        <string>huaixiao0006</string>
        <string>huaixiao0007</string>
        <string>huaixiao0008</string>
        <string>huaixiao0009</string>
        <string>huaixiao0010</string>
        <string>huaixiao0011</string>
        <string>huaixiao0012</string>
        <string>huaixiao0013</string>
        <string>huaixiao0014</string>
        <string>huaixiao0015</string>
        <string>huaixiao0016</string>
        <string>huaixiao0017</string>
        <string>huaixiao0018</string>
        <string>huaixiao0019</string>
        <string>huaixiao0020</string>
        <string>huaixiao0021</string>
        <string>huaixiao0022</string>
        <string>huaixiao0023</string>
        <string>huaixiao0024</string>
        <string>huaixiao0025</string>
        <string>huaixiao0026</string>
        <string>huaixiao0027</string>
        <string>huaixiao0028</string>
        <string>huaixiao0029</string>
        <string>huaixiao0030</string>
        <string>huaixiao0031</string>
    </array>
    
    <key>BBLink__common_emoji_sad_icon</key>
    <array>
        <string>nanguo0001</string>
        <string>nanguo0002</string>
        <string>nanguo0003</string>
        <string>nanguo0004</string>
        <string>nanguo0005</string>
        <string>nanguo0006</string>
        <string>nanguo0007</string>
        <string>nanguo0008</string>
        <string>nanguo0009</string>
        <string>nanguo0010</string>
        <string>nanguo0011</string>
        <string>nanguo0012</string>
        <string>nanguo0013</string>
        <string>nanguo0014</string>
        <string>nanguo0015</string>
        <string>nanguo0016</string>
        <string>nanguo0017</string>
        <string>nanguo0018</string>
        <string>nanguo0019</string>
        <string>nanguo0020</string>
        <string>nanguo0021</string>
        <string>nanguo0022</string>
        <string>nanguo0023</string>
        <string>nanguo0024</string>
        <string>nanguo0025</string>
        <string>nanguo0026</string>
        <string>nanguo0027</string>
        <string>nanguo0028</string>
    </array>
    
    <key>BBLink__common_emoji_angry_icon</key>
    <array>
        <string>shengqi0001</string>
        <string>shengqi0002</string>
        <string>shengqi0003</string>
        <string>shengqi0004</string>
        <string>shengqi0005</string>
        <string>shengqi0006</string>
        <string>shengqi0007</string>
        <string>shengqi0008</string>
        <string>shengqi0009</string>
        <string>shengqi0010</string>
        <string>shengqi0011</string>
        
    </array>
    
    <key>BBLink__common_emoji_grievance_icon</key>
    <array>
        <string>weiqu0001</string>
        <string>weiqu0002</string>
        <string>weiqu0003</string>
        <string>weiqu0004</string>
        <string>weiqu0005</string>
        <string>weiqu0006</string>
        <string>weiqu0007</string>
        <string>weiqu0008</string>
        <string>weiqu0009</string>
        <string>weiqu0010</string>
        <string>weiqu0011</string>
        <string>weiqu0012</string>
        <string>weiqu0013</string>
        <string>weiqu0014</string>
        <string>weiqu0015</string>
        <string>weiqu0016</string>
        <string>weiqu0017</string>
        <string>weiqu0018</string>
        <string>weiqu0019</string>
        <string>weiqu0020</string>
    </array>

    <key>BBLink__common_emoji_funny_icon</key>
    <array>
        <string>xieyanxiao0001</string>
        <string>xieyanxiao0002</string>
        <string>xieyanxiao0003</string>
        <string>xieyanxiao0004</string>
        <string>xieyanxiao0005</string>
        <string>xieyanxiao0006</string>
        <string>xieyanxiao0007</string>
        <string>xieyanxiao0008</string>
    </array>
    
    <key>BBLink__common_emoji_adorkable_icon</key>
    <array>
        <string>dai0001</string>
        <string>dai0002</string>
        <string>dai0003</string>
        <string>dai0004</string>
        <string>dai0005</string>
        <string>dai0006</string>
        <string>dai0007</string>
        <string>dai0008</string>
        <string>dai0009</string>
        <string>dai0010</string>
        <string>dai0011</string>
        <string>dai0012</string>
        <string>dai0013</string>
        <string>dai0014</string>
        <string>dai0015</string>
        <string>dai0016</string>
        <string>dai0017</string>
        <string>dai0018</string>
        <string>dai0019</string>
        <string>dai0020</string>
        <string>dai0021</string>
        <string>dai0022</string>
        <string>dai0023</string>
        <string>dai0024</string>
        <string>dai0025</string>
        <string>dai0026</string>
        <string>dai0027</string>
    </array>
    
    <key>BBLink__common_emoji_furious_icon</key>
    <array>
        <string>fanu0001</string>
        <string>fanu0002</string>
        <string>fanu0003</string>
        <string>fanu0004</string>
        <string>fanu0005</string>
        <string>fanu0006</string>
        <string>fanu0007</string>
        <string>fanu0008</string>
        <string>fanu0009</string>
        <string>fanu0010</string>
        <string>fanu0011</string>
        <string>fanu0012</string>
        <string>fanu0013</string>
        <string>fanu0014</string>
        <string>fanu0015</string>
        <string>fanu0016</string>
        <string>fanu0017</string>
        <string>fanu0018</string>
        <string>fanu0019</string>
        <string>fanu0020</string>
        <string>fanu0021</string>
        <string>fanu0022</string>
        <string>fanu0023</string>
        <string>fanu0024</string>
        <string>fanu0025</string>
        <string>fanu0026</string>
        <string>fanu0027</string>
        <string>fanu0028</string>
        <string>fanu0029</string>
        <string>fanu0030</string>
        <string>fanu0031</string>
        <string>fanu0032</string>
        <string>fanu0033</string>
    </array>
    
    <key>BBLink__common_emoji_scare_icon</key>
    <array>
        <string>jingxia0001</string>
        <string>jingxia0002</string>
        <string>jingxia0003</string>
        <string>jingxia0004</string>
        <string>jingxia0005</string>
        <string>jingxia0006</string>
        <string>jingxia0007</string>
        <string>jingxia0008</string>
        <string>jingxia0009</string>
    </array>
    
    <key>BBLink__common_emoji_vomit_icon</key>
    <array>
        <string>outu0001</string>
        <string>outu0002</string>
        <string>outu0003</string>
        <string>outu0004</string>
        <string>outu0005</string>
        <string>outu0006</string>
        <string>outu0007</string>
        <string>outu0008</string>
        <string>outu0009</string>
        <string>outu0010</string>
        <string>outu0011</string>
        <string>outu0012</string>
        <string>outu0013</string>
        <string>outu0014</string>
        <string>outu0015</string>
        <string>outu0016</string>
        <string>outu0017</string>
        <string>outu0018</string>
        <string>outu0019</string>
        <string>outu0020</string>
        <string>outu0021</string>
        <string>outu0022</string>
        <string>outu0023</string>
        <string>outu0024</string>
        <string>outu0025</string>
        <string>outu0026</string>
        <string>outu0027</string>
        <string>outu0028</string>
        <string>outu0029</string>
        <string>outu0030</string>
        <string>outu0031</string>
        <string>outu0032</string>
        <string>outu0033</string>
        <string>outu0034</string>
        <string>outu0035</string>
        <string>outu0036</string>
        <string>outu0037</string>
        <string>outu0038</string>
        <string>outu0039</string>
        <string>outu0040</string>
        <string>outu0041</string>
        <string>outu0042</string>
    </array>
    
    <key>BBLink__common_emoji_think_icon</key>
    <array>
        <string>sikao0001</string>
        <string>sikao0002</string>
        <string>sikao0003</string>
        <string>sikao0004</string>
        <string>sikao0005</string>
        <string>sikao0006</string>
        <string>sikao0007</string>
        <string>sikao0008</string>
        <string>sikao0009</string>
        <string>sikao0010</string>
        <string>sikao0011</string>
        <string>sikao0012</string>
        <string>sikao0013</string>
        <string>sikao0014</string>
        <string>sikao0015</string>
        <string>sikao0016</string>
        <string>sikao0017</string>
        <string>sikao0018</string>
        <string>sikao0019</string>
        <string>sikao0020</string>
        <string>sikao0021</string>
        <string>sikao0022</string>
        <string>sikao0023</string>
        <string>sikao0024</string>
        <string>sikao0025</string>
        <string>sikao0026</string>
        <string>sikao0027</string>
        <string>sikao0028</string>
        <string>sikao0029</string>
        <string>sikao0030</string>
        <string>sikao0031</string>
        <string>sikao0032</string>
        <string>sikao0033</string>
        <string>sikao0034</string>
        <string>sikao0035</string>
        <string>sikao0036</string>
    </array>
    
    <key>BBLink__common_emoji_smile_icon</key>
    <array>
        <string>weixiao0001</string>
        <string>weixiao0002</string>
        <string>weixiao0003</string>
        <string>weixiao0004</string>
        <string>weixiao0005</string>
        <string>weixiao0006</string>
        <string>weixiao0007</string>
        <string>weixiao0008</string>
        <string>weixiao0009</string>
        <string>weixiao0010</string>
        <string>weixiao0011</string>
        <string>weixiao0012</string>
        <string>weixiao0013</string>
        <string>weixiao0014</string>
        <string>weixiao0015</string>
        <string>weixiao0016</string>
        <string>weixiao0017</string>
        <string>weixiao0018</string>
        <string>weixiao0019</string>
        <string>weixiao0020</string>
    </array>
    
    <key>BBLink__common_emoji_problem_icon</key>
    <array>
        <string>yiwen0001</string>
        <string>yiwen0002</string>
        <string>yiwen0003</string>
        <string>yiwen0004</string>
        <string>yiwen0005</string>
        <string>yiwen0006</string>
        <string>yiwen0007</string>
        <string>yiwen0008</string>
        <string>yiwen0009</string>
        <string>yiwen0010</string>
        <string>yiwen0011</string>
        <string>yiwen0012</string>
        <string>yiwen0013</string>
        <string>yiwen0014</string>
        <string>yiwen0015</string>
        <string>yiwen0016</string>
        <string>yiwen0017</string>
        <string>yiwen0018</string>
        <string>yiwen0019</string>
        <string>yiwen0020</string>
        <string>yiwen0021</string>
    </array>
    
    <key>BBLink__common_emoji_wail_icon</key>
    <array>
        <string>daku0001</string>
        <string>daku0002</string>
        <string>daku0003</string>
        <string>daku0004</string>
        <string>daku0005</string>
    </array>
    
    <key>BBLink__common_emoji_applause_icon</key>
    <array>
        <string>guzhang0001</string>
        <string>guzhang0002</string>
        <string>guzhang0003</string>
        <string>guzhang0004</string>
        <string>guzhang0005</string>
        <string>guzhang0006</string>
        <string>guzhang0007</string>
        <string>guzhang0008</string>
        <string>guzhang0009</string>
        <string>guzhang0010</string>
        <string>guzhang0011</string>
        <string>guzhang0012</string>
        <string>guzhang0013</string>
        <string>guzhang0014</string>
        <string>guzhang0015</string>
        <string>guzhang0016</string>
        <string>guzhang0017</string>
    </array>
    
    <key>BBLink__common_emoji_rhinotillexomania_icon</key>
    <array>
        <string>koubizi0001</string>
        <string>koubizi0002</string>
        <string>koubizi0003</string>
        <string>koubizi0004</string>
        <string>koubizi0005</string>
        <string>koubizi0006</string>
        <string>koubizi0007</string>
        <string>koubizi0008</string>
        <string>koubizi0009</string>
        <string>koubizi0010</string>
        <string>koubizi0011</string>
        <string>koubizi0012</string>
        <string>koubizi0013</string>
        <string>koubizi0014</string>
        <string>koubizi0015</string>
        <string>koubizi0016</string>
        <string>koubizi0017</string>
        <string>koubizi0018</string>
        <string>koubizi0019</string>
        <string>koubizi0020</string>
        <string>koubizi0021</string>
        <string>koubizi0022</string>
        <string>koubizi0023</string>
        <string>koubizi0024</string>
        <string>koubizi0025</string>
        <string>koubizi0026</string>
        <string>koubizi0027</string>
        <string>koubizi0028</string>
        <string>koubizi0029</string>
        <string>koubizi0030</string>
    </array>
    
    <key>BBLink__common_emoji_kiss_icon</key>
    <array>
        <string>qinqin0001</string>
        <string>qinqin0002</string>
        <string>qinqin0003</string>
        <string>qinqin0004</string>
        <string>qinqin0005</string>
        <string>qinqin0006</string>
        <string>qinqin0007</string>
    </array>
    
    <key>BBLink__common_emoji_naughty_icon</key>
    <array>
        <string>tiaopi0001</string>
        <string>tiaopi0002</string>
        <string>tiaopi0003</string>
        <string>tiaopi0004</string>
        <string>tiaopi0005</string>
        <string>tiaopi0006</string>
        <string>tiaopi0007</string>
        <string>tiaopi0008</string>
        <string>tiaopi0009</string>
        <string>tiaopi0010</string>
        <string>tiaopi0011</string>
        <string>tiaopi0012</string>
        <string>tiaopi0013</string>
        <string>tiaopi0014</string>
        <string>tiaopi0015</string>
        <string>tiaopi0016</string>
        <string>tiaopi0017</string>
        <string>tiaopi0018</string>
        <string>tiaopi0019</string>
        <string>tiaopi0020</string>
        <string>tiaopi0021</string>
        <string>tiaopi0022</string>
        <string>tiaopi0023</string>
        <string>tiaopi0024</string>
        <string>tiaopi0025</string>
        <string>tiaopi0026</string>
        <string>tiaopi0027</string>
        <string>tiaopi0028</string>
        <string>tiaopi0029</string>
        <string>tiaopi0030</string>
        <string>tiaopi0031</string>
        <string>tiaopi0032</string>
        <string>tiaopi0033</string>
        <string>tiaopi0034</string>
        <string>tiaopi0035</string>
        <string>tiaopi0036</string>
        <string>tiaopi0037</string>
        <string>tiaopi0038</string>
        <string>tiaopi0039</string>
        <string>tiaopi0040</string>
        <string>tiaopi0041</string>
        <string>tiaopi0042</string>
        <string>tiaopi0043</string>
        <string>tiaopi0044</string>
        <string>tiaopi0045</string>
        <string>tiaopi0046</string>
        <string>tiaopi0047</string>
        <string>tiaopi0048</string>
        <string>tiaopi0049</string>
        <string>tiaopi0050</string>
    </array>
    
    <key>BBLink__common_emoji_tearsofjoy_icon</key>
    <array>
        <string>xiaoku0001</string>
        <string>xiaoku0002</string>
        <string>xiaoku0003</string>
        <string>xiaoku0004</string>
        <string>xiaoku0005</string>
        <string>xiaoku0006</string>
        <string>xiaoku0007</string>
        <string>xiaoku0008</string>
        <string>xiaoku0009</string>
        <string>xiaoku0010</string>
        <string>xiaoku0011</string>
        <string>xiaoku0012</string>
        <string>xiaoku0013</string>
        <string>xiaoku0014</string>
        <string>xiaoku0015</string>
    </array>
    
    <key>BBLink__common_emoji_faint_icon</key>
    <array>
        <string>yun0001</string>
        <string>yun0002</string>
        <string>yun0003</string>
        <string>yun0004</string>
        <string>yun0005</string>
        <string>yun0006</string>
        <string>yun0007</string>
        <string>yun0008</string>
        <string>yun0009</string>
        <string>yun0010</string>
        <string>yun0011</string>
        <string>yun0012</string>
    </array>
    
    <key>BBLink__common_emoji_like_icon</key>
    <array>
        <string>dianzan0001</string>
        <string>dianzan0002</string>
        <string>dianzan0003</string>
        <string>dianzan0004</string>
        <string>dianzan0005</string>
        <string>dianzan0006</string>
        <string>dianzan0007</string>
        <string>dianzan0008</string>
        <string>dianzan0009</string>
        <string>dianzan0010</string>
        <string>dianzan0011</string>
        <string>dianzan0012</string>
        <string>dianzan0013</string>
        <string>dianzan0014</string>
        <string>dianzan0015</string>
        <string>dianzan0016</string>
        <string>dianzan0017</string>
        <string>dianzan0018</string>
        <string>dianzan0019</string>
        <string>dianzan0020</string>
    </array>
    
    <key>BBLink__common_emoji_shy_icon</key>
    <array>
        <string>haixiu0001</string>
        <string>haixiu0002</string>
        <string>haixiu0003</string>
        <string>haixiu0004</string>
        <string>haixiu0005</string>
        <string>haixiu0006</string>
        <string>haixiu0007</string>
        <string>haixiu0008</string>
        <string>haixiu0009</string>
        <string>haixiu0010</string>
        <string>haixiu0011</string>
        <string>haixiu0012</string>
        <string>haixiu0013</string>
        <string>haixiu0014</string>
        <string>haixiu0015</string>
        <string>haixiu0016</string>
        <string>haixiu0017</string>
        <string>haixiu0018</string>
        <string>haixiu0019</string>
        <string>haixiu0020</string>
        <string>haixiu0021</string>
        <string>haixiu0022</string>
        <string>haixiu0023</string>
        <string>haixiu0024</string>
        <string>haixiu0025</string>
        <string>haixiu0026</string>
        <string>haixiu0027</string>
        <string>haixiu0028</string>
        <string>haixiu0029</string>
        <string>haixiu0030</string>
        <string>haixiu0031</string>
    </array>
    
    <key>BBLink__common_emoji_sleepy_icon</key>
    <array>
        <string>shuizhao0001</string>
        <string>shuizhao0002</string>
        <string>shuizhao0003</string>
        <string>shuizhao0004</string>
        <string>shuizhao0005</string>
        <string>shuizhao0006</string>
        <string>shuizhao0007</string>
        <string>shuizhao0008</string>
        <string>shuizhao0009</string>
        <string>shuizhao0010</string>
        <string>shuizhao0011</string>
        <string>shuizhao0012</string>
        <string>shuizhao0013</string>
        <string>shuizhao0014</string>
        <string>shuizhao0015</string>
        <string>shuizhao0016</string>
        <string>shuizhao0017</string>
        <string>shuizhao0018</string>
        <string>shuizhao0019</string>
        <string>shuizhao0020</string>
        <string>shuizhao0021</string>
        <string>shuizhao0022</string>
        <string>shuizhao0023</string>
        <string>shuizhao0024</string>
    </array>
    
    <key>BBLink__common_emoji_sexy_icon</key>
    <array>
        <string>se0001</string>
        <string>se0002</string>
        <string>se0003</string>
        <string>se0004</string>
        <string>se0005</string>
        <string>se0006</string>
        <string>se0007</string>
        <string>se0008</string>
        <string>se0009</string>
        <string>se0010</string>
    </array>
    
    <key>BBLink__common_emoji_hematemesis_icon</key>
    <array>
        <string>tuxue0001</string>
        <string>tuxue0002</string>
        <string>tuxue0003</string>
        <string>tuxue0004</string>
        <string>tuxue0005</string>
        <string>tuxue0006</string>
        <string>tuxue0007</string>
        <string>tuxue0008</string>
    </array>
    
    <key>BBLink__common_emoji_beyond_icon</key>
    <array>
        <string>wunai0001</string>
        <string>wunai0002</string>
        <string>wunai0003</string>
        <string>wunai0004</string>
        <string>wunai0005</string>
        <string>wunai0006</string>
        <string>wunai0007</string>
        <string>wunai0008</string>
        <string>wunai0009</string>
        <string>wunai0010</string>
        <string>wunai0011</string>
        <string>wunai0012</string>
        <string>wunai0013</string>
        <string>wunai0014</string>
        <string>wunai0015</string>
        <string>wunai0016</string>
        <string>wunai0017</string>
        <string>wunai0018</string>
        <string>wunai0019</string>
        <string>wunai0020</string>
        <string>wunai0021</string>
        <string>wunai0022</string>
        <string>wunai0023</string>
    </array>
    
    <key>BBLink__common_emoji_bye_icon</key>
    <array>
        <string>zaijian0001</string>
        <string>zaijian0002</string>
        <string>zaijian0003</string>
        <string>zaijian0004</string>
        <string>zaijian0005</string>
        <string>zaijian0006</string>
        <string>zaijian0007</string>
        <string>zaijian0008</string>
        <string>zaijian0009</string>
        <string>zaijian0010</string>
        <string>zaijian0011</string>
        <string>zaijian0012</string>
        <string>zaijian0013</string>
        <string>zaijian0014</string>
        <string>zaijian0015</string>
        <string>zaijian0016</string>
        <string>zaijian0017</string>
        <string>zaijian0018</string>
        <string>zaijian0019</string>
        <string>zaijian0020</string>
        <string>zaijian0021</string>
        <string>zaijian0022</string>
        <string>zaijian0023</string>
        <string>zaijian0024</string>
    </array>
    
    <key>BBLink__common_emoji_sweat_icon</key>
    <array>
        <string>liuhan0001</string>
        <string>liuhan0002</string>
        <string>liuhan0003</string>
        <string>liuhan0004</string>
        <string>liuhan0005</string>
        <string>liuhan0006</string>
        <string>liuhan0007</string>
        <string>liuhan0008</string>
        <string>liuhan0009</string>
        <string>liuhan0010</string>
        <string>liuhan0011</string>
        <string>liuhan0012</string>
        <string>liuhan0013</string>
        <string>liuhan0014</string>
        <string>liuhan0015</string>
        <string>liuhan0016</string>
        <string>liuhan0017</string>
        <string>liuhan0018</string>
        <string>liuhan0019</string>
        <string>liuhan0020</string>
        <string>liuhan0021</string>
        <string>liuhan0022</string>
        <string>liuhan0023</string>
        <string>liuhan0024</string>
        <string>liuhan0025</string>
        <string>liuhan0026</string>
        <string>liuhan0027</string>
    </array>
    
    <key>BBLink__common_emoji_titter_icon</key>
    <array>
        <string>touxiao0001</string>
        <string>touxiao0002</string>
        <string>touxiao0003</string>
        <string>touxiao0004</string>
        <string>touxiao0005</string>
        <string>touxiao0006</string>
    </array>
    
    <key>BBLink__common_emoji_titter_icon</key>
    <array>
        <string>touxiao0001</string>
        <string>touxiao0002</string>
        <string>touxiao0003</string>
        <string>touxiao0004</string>
        <string>touxiao0005</string>
        <string>touxiao0006</string>
    </array>
    
    <key>BBLink__common_emoji_crazy_icon</key>
    <array>
        <string>zhuakuang0001</string>
        <string>zhuakuang0002</string>
        <string>zhuakuang0003</string>
        <string>zhuakuang0004</string>
        <string>zhuakuang0005</string>
        <string>zhuakuang0006</string>
        <string>zhuakuang0007</string>
        <string>zhuakuang0008</string>
        <string>zhuakuang0009</string>
        <string>zhuakuang0010</string>
        <string>zhuakuang0011</string>
        <string>zhuakuang0012</string>
        <string>zhuakuang0013</string>
        <string>zhuakuang0014</string>
        <string>zhuakuang0015</string>
        <string>zhuakuang0016</string>
        <string>zhuakuang0017</string>
        <string>zhuakuang0018</string>
        <string>zhuakuang0019</string>
    </array>
    
    <key>BBLink__common_emoji_excuseme_icon</key>
    <array>
        <string>heirenwenhao0001</string>
        <string>heirenwenhao0002</string>
        <string>heirenwenhao0003</string>
        <string>heirenwenhao0004</string>
        <string>heirenwenhao0005</string>
        <string>heirenwenhao0006</string>
        <string>heirenwenhao0007</string>
        <string>heirenwenhao0008</string>
        <string>heirenwenhao0009</string>
        <string>heirenwenhao0010</string>
        <string>heirenwenhao0011</string>
        <string>heirenwenhao0012</string>
        <string>heirenwenhao0013</string>
        <string>heirenwenhao0014</string>
        <string>heirenwenhao0015</string>
        <string>heirenwenhao0016</string>
        <string>heirenwenhao0017</string>
        <string>heirenwenhao0018</string>
        <string>heirenwenhao0019</string>
        <string>heirenwenhao0020</string>
        <string>heirenwenhao0021</string>
        <string>heirenwenhao0022</string>
        <string>heirenwenhao0023</string>
        <string>heirenwenhao0024</string>
        <string>heirenwenhao0025</string>
        <string>heirenwenhao0026</string>
    </array>
    
    <key>BBLink__common_emoji_tired_icon</key>
    <array>
        <string>kun0001</string>
        <string>kun0002</string>
        <string>kun0003</string>
        <string>kun0004</string>
        <string>kun0005</string>
        <string>kun0006</string>
        <string>kun0007</string>
        <string>kun0008</string>
        <string>kun0009</string>
        <string>kun0010</string>
        <string>kun0011</string>
        <string>kun0012</string>
        <string>kun0013</string>
        <string>kun0014</string>
        <string>kun0015</string>
        <string>kun0016</string>
        <string>kun0017</string>
        <string>kun0018</string>
        <string>kun0019</string>
        <string>kun0020</string>
        <string>kun0021</string>
        <string>kun0022</string>
        <string>kun0023</string>
        <string>kun0024</string>
        <string>kun0025</string>
        <string>kun0026</string>
        <string>kun0027</string>
        <string>kun0028</string>
        <string>kun0029</string>
        <string>kun0030</string>
        <string>kun0031</string>
        <string>kun0032</string>
        <string>kun0033</string>
        <string>kun0034</string>
        <string>kun0035</string>
        <string>kun0036</string>
        <string>kun0037</string>
        <string>kun0038</string>
        <string>kun0039</string>
        <string>kun0040</string>
        <string>kun0041</string>
        <string>kun0042</string>
        <string>kun0043</string>
        <string>kun0044</string>
    </array>
    
    <key>BBLink__common_emoji_facehit_icon</key>
    <array>
        <string>dalian0001</string>
        <string>dalian0002</string>
        <string>dalian0003</string>
        <string>dalian0004</string>
        <string>dalian0005</string>
        <string>dalian0006</string>
        <string>dalian0007</string>
        <string>dalian0008</string>
        <string>dalian0009</string>
        <string>dalian0010</string>
        <string>dalian0011</string>
        <string>dalian0012</string>
        <string>dalian0013</string>
        <string>dalian0014</string>
        <string>dalian0015</string>
        <string>dalian0016</string>
        <string>dalian0017</string>
        <string>dalian0018</string>
        <string>dalian0019</string>
        <string>dalian0020</string>
        <string>dalian0021</string>
        <string>dalian0022</string>
        <string>dalian0023</string>
        <string>dalian0024</string>
        <string>dalian0025</string>
        <string>dalian0026</string>
        <string>dalian0027</string>
        <string>dalian0028</string>
        <string>dalian0029</string>
        <string>dalian0030</string>
        <string>dalian0031</string>
        <string>dalian0032</string>
        <string>dalian0033</string>
        <string>dalian0034</string>
        <string>dalian0035</string>
        <string>dalian0036</string>
        <string>dalian0037</string>
    </array>
    
    <key>BBLink__common_emoji_shutup_icon</key>
    <array>
        <string>bizui0001</string>
        <string>bizui0002</string>
        <string>bizui0003</string>
        <string>bizui0004</string>
        <string>bizui0005</string>
        <string>bizui0006</string>
        <string>bizui0007</string>
        <string>bizui0008</string>
        <string>bizui0009</string>
        <string>bizui0010</string>
        <string>bizui0011</string>
        <string>bizui0012</string>
        <string>bizui0013</string>
        <string>bizui0014</string>
        <string>bizui0015</string>
        <string>bizui0016</string>
        <string>bizui0017</string>
        <string>bizui0018</string>
        <string>bizui0019</string>
        <string>bizui0020</string>
        <string>bizui0021</string>
        <string>bizui0022</string>
        <string>bizui0023</string>
        <string>bizui0024</string>
        <string>bizui0025</string>
        <string>bizui0026</string>
        <string>bizui0027</string>
        <string>bizui0028</string>
        <string>bizui0029</string>
        <string>bizui0030</string>
        <string>bizui0031</string>
    </array>
    
    <key>BBLink__common_emoji_contempt_icon</key>
    <array>
        <string>bishi0001</string>
        <string>bishi0002</string>
        <string>bishi0003</string>
        <string>bishi0004</string>
        <string>bishi0005</string>
        <string>bishi0006</string>
        <string>bishi0007</string>
        <string>bishi0008</string>
        <string>bishi0009</string>
    </array>
    
    <key>BBLink__common_emoji_bashful_icon</key>
    <array>
        <string>miantian0001</string>
        <string>miantian0002</string>
        <string>miantian0003</string>
        <string>miantian0004</string>
        <string>miantian0005</string>
        <string>miantian0006</string>
        <string>miantian0007</string>
        <string>miantian0008</string>
        <string>miantian0009</string>
        <string>miantian0010</string>
        <string>miantian0011</string>
        <string>miantian0012</string>
        <string>miantian0013</string>
        <string>miantian0014</string>
        <string>miantian0015</string>
        <string>miantian0016</string>
        <string>miantian0017</string>
        <string>miantian0018</string>
        <string>miantian0019</string>
        <string>miantian0020</string>
        <string>miantian0021</string>
        <string>miantian0022</string>
        <string>miantian0023</string>
        <string>miantian0024</string>
        <string>miantian0025</string>
        <string>miantian0026</string>
        <string>miantian0027</string>
        <string>miantian0028</string>
    </array>
    
    <key>BBLink__common_emoji_greedy_icon</key>
    <array>
        <string>chan0001</string>
        <string>chan0002</string>
        <string>chan0003</string>
        <string>chan0004</string>
        <string>chan0005</string>
        <string>chan0006</string>
        <string>chan0007</string>
        <string>chan0008</string>
        <string>chan0009</string>
        <string>chan0010</string>
        <string>chan0011</string>
        <string>chan0012</string>
        <string>chan0013</string>
        <string>chan0014</string>
        <string>chan0015</string>
        <string>chan0016</string>
        <string>chan0017</string>
        <string>chan0018</string>
        <string>chan0019</string>
        <string>chan0020</string>
        <string>chan0021</string>
        <string>chan0022</string>
        <string>chan0023</string>
        <string>chan0024</string>
        <string>chan0025</string>
        <string>chan0026</string>
        <string>chan0027</string>
        <string>chan0028</string>
        <string>chan0029</string>
        <string>chan0030</string>
        <string>chan0031</string>
        <string>chan0032</string>
        <string>chan0033</string>
        <string>chan0034</string>
        <string>chan0035</string>
        <string>chan0036</string>
        <string>chan0037</string>
        <string>chan0038</string>
        <string>chan0039</string>
        <string>chan0040</string>
    </array>
    
    <key>BBLink__common_emoji_loveliness_icon</key>
    <array>
        <string>keai0001</string>
        <string>keai0002</string>
        <string>keai0003</string>
        <string>keai0004</string>
        <string>keai0005</string>
        <string>keai0006</string>
        <string>keai0007</string>
        <string>keai0008</string>
        <string>keai0009</string>
        <string>keai0010</string>
        <string>keai0011</string>
        <string>keai0012</string>
        <string>keai0013</string>
        <string>keai0014</string>
        <string>keai0015</string>
        <string>keai0016</string>
        <string>keai0017</string>
    </array>
    
    <key>BBLink__common_emoji_fortune_icon</key>
    <array>
        <string>facai0001</string>
        <string>facai0002</string>
        <string>facai0003</string>
        <string>facai0004</string>
        <string>facai0005</string>
        <string>facai0006</string>
        <string>facai0007</string>
        <string>facai0008</string>
        <string>facai0009</string>
        <string>facai0010</string>
        <string>facai0011</string>
        <string>facai0012</string>
        <string>facai0013</string>
        <string>facai0014</string>
        <string>facai0015</string>
        <string>facai0016</string>
        <string>facai0017</string>
        <string>facai0018</string>
        <string>facai0019</string>
        <string>facai0020</string>
        <string>facai0021</string>
        <string>facai0022</string>
        <string>facai0023</string>
        <string>facai0024</string>
        <string>facai0025</string>
        <string>facai0026</string>
        <string>facai0027</string>
        <string>facai0028</string>
        <string>facai0029</string>
        <string>facai0030</string>
    </array>
    
    <key>BBLink__common_emoji_ill_icon</key>
    <array>
        <string>shengbing0001</string>
        <string>shengbing0002</string>
        <string>shengbing0003</string>
        <string>shengbing0004</string>
        <string>shengbing0005</string>
        <string>shengbing0006</string>
        <string>shengbing0007</string>
        <string>shengbing0008</string>
        <string>shengbing0009</string>
        <string>shengbing0010</string>
        <string>shengbing0011</string>
        <string>shengbing0012</string>
        <string>shengbing0013</string>
        <string>shengbing0014</string>
        <string>shengbing0015</string>
        <string>shengbing0016</string>
        <string>shengbing0017</string>
        <string>shengbing0018</string>
        <string>shengbing0019</string>
        <string>shengbing0020</string>
        <string>shengbing0021</string>
        <string>shengbing0022</string>
        <string>shengbing0023</string>
        <string>shengbing0024</string>
        <string>shengbing0025</string>
        <string>shengbing0026</string>
        <string>shengbing0027</string>
        <string>shengbing0028</string>
        <string>shengbing0029</string>
        <string>shengbing0030</string>
        <string>shengbing0031</string>
        <string>shengbing0032</string>
        <string>shengbing0033</string>
        <string>shengbing0034</string>
        <string>shengbing0035</string>
    </array>
    
    <key>BBLink__common_emoji_nosebleed_icon</key>
    <array>
        <string>liubixue0001</string>
        <string>liubixue0002</string>
        <string>liubixue0003</string>
        <string>liubixue0004</string>
        <string>liubixue0005</string>
        <string>liubixue0006</string>
        <string>liubixue0007</string>
        <string>liubixue0008</string>
        <string>liubixue0009</string>
        <string>liubixue0010</string>
        <string>liubixue0011</string>
        <string>liubixue0012</string>
        <string>liubixue0013</string>
        <string>liubixue0014</string>
        <string>liubixue0015</string>
        <string>liubixue0016</string>
        <string>liubixue0017</string>
        <string>liubixue0018</string>
        <string>liubixue0019</string>
        <string>liubixue0020</string>
        <string>liubixue0021</string>
        <string>liubixue0022</string>
        <string>liubixue0023</string>
        <string>liubixue0024</string>
        <string>liubixue0025</string>
        <string>liubixue0026</string>
        <string>liubixue0027</string>
        <string>liubixue0028</string>
        <string>liubixue0029</string>
        <string>liubixue0030</string>
        <string>liubixue0031</string>
        <string>liubixue0032</string>
        <string>liubixue0033</string>
        <string>liubixue0034</string>
        <string>liubixue0035</string>
    </array>
    
    <key>BBLink__common_emoji_awkward_icon</key>
    <array>
        <string>ganga0001</string>
        <string>ganga0002</string>
        <string>ganga0003</string>
        <string>ganga0004</string>
        <string>ganga0005</string>
        <string>ganga0006</string>
        <string>ganga0007</string>
        <string>ganga0008</string>
        <string>ganga0009</string>
        <string>ganga0010</string>
        <string>ganga0011</string>
        <string>ganga0012</string>
        <string>ganga0013</string>
        <string>ganga0014</string>
        <string>ganga0015</string>
        <string>ganga0016</string>
        <string>ganga0017</string>
        <string>ganga0018</string>
        <string>ganga0019</string>
        <string>ganga0020</string>
        <string>ganga0021</string>
        <string>ganga0022</string>
        <string>ganga0023</string>
        <string>ganga0024</string>
        <string>ganga0025</string>
        <string>ganga0026</string>
        <string>ganga0027</string>
        <string>ganga0028</string>
        <string>ganga0029</string>
        <string>ganga0030</string>
        <string>ganga0031</string>
        <string>ganga0032</string>
        <string>ganga0033</string>
        <string>ganga0034</string>
        <string>ganga0035</string>
        <string>ganga0036</string>
        <string>ganga0037</string>
        <string>ganga0038</string>
    </array>
    
    <key>BBLink__common_emoji_boss_icon</key>
    <array>
        <string>dalao0001</string>
        <string>dalao0002</string>
        <string>dalao0003</string>
        <string>dalao0004</string>
        <string>dalao0005</string>
        <string>dalao0006</string>
        <string>dalao0007</string>
        <string>dalao0008</string>
        <string>dalao0009</string>
        <string>dalao0010</string>
        <string>dalao0011</string>
        <string>dalao0012</string>
        <string>dalao0013</string>
        <string>dalao0014</string>
        <string>dalao0015</string>
        <string>dalao0016</string>
        <string>dalao0017</string>
        <string>dalao0018</string>
        <string>dalao0019</string>
        <string>dalao0020</string>
        <string>dalao0021</string>
        <string>dalao0022</string>
        <string>dalao0023</string>
        <string>dalao0024</string>
        <string>dalao0025</string>
        <string>dalao0026</string>
        <string>dalao0027</string>
        <string>dalao0028</string>
        <string>dalao0029</string>
        <string>dalao0030</string>
        <string>dalao0031</string>
        <string>dalao0032</string>
        <string>dalao0033</string>
    </array>
    
    <key>BBLink__common_emoji_tears_icon</key>
    <array>
        <string>liulei0001</string>
        <string>liulei0002</string>
    </array>
    
    <key>BBLink__common_emoji_indifference_icon</key>
    <array>
        <string>lengmo0001</string>
        <string>lengmo0002</string>
    </array>
    
    <key>BBLink__common_emoji_frown_icon</key>
    <array>
        <string>zhoumei0001</string>
        <string>zhoumei0002</string>
    </array>
    
    <key>BBLink__common_emoji_grimace_icon</key>
    <array>
        <string>guilian0001</string>
        <string>guilian0002</string>
    </array>
    
    <key>BBLink__common_emoji_ridicule_icon</key>
    <array>
        <string>tiaokan0001</string>
         <string>tiaokan0002</string>
    </array>
    
    <key>BBLink__common_emoji_Pikachu_icon</key>
    <array>
        <string>pikaqiu0001</string>
        <string>pikaqiu0002</string>
    </array>
    
    <key>BBLink__common_emoji_stunned_icon</key>
    <array>
        <string>mudengkoudai0001</string>
        <string>mudengkoudai0002</string>
    </array>
    </dict>
</plist>
