@import "vars";
@import "func";
body {
  overflow: hidden;
}
view,
text {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0;
  }
}
::-webkit-scrollbar{
  display: none;
}
image {
  will-change: transform;
}
uni-app, .uni-app--maxwidth {
  width: $max-width;
  margin: 0 auto;
  transform: translate(0);
}
img {
  -webkit-touch-callout: none;
  user-select: none;
}
.iconfont {
  font-size: rpx(32);
}
