
name: deploy

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: yarn
      - run: yarn build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3.7.3
        with:
         personal_token: ${{ secrets.PERSONAL_TOKEN }}
         publish_dir: ./dist/build/h5
         publish_branch: gh-pages
